
#What .items{
display:block;
}


#What .items .item{
display: flex;
text-align: left;
}

#What .items .item i{
margin-right: 1.3rem;
align-self: center;
margin-bottom: 0;
}

@media(max-width: 500px){
#navbar {
flex-direction: column;
align-items: center;
}

#navbar .logo{
margin-bottom: 1rem;
text-align: center;
}

#showcase .showcase-content{
top: 103px;
}

#Who{
display: block;
}

#Who .who-img{
display: none;
}

#clients .items img{
width: 80%;
}

#clients .items div:last-child{
display: none;
}

#Contact{
display: block;
}

#contact .map{
display: none;
}
}